ASPNETCORE_ENVIRONMENT=Development
Api__BaseUrl=https://localhost:7001
Auth__BcryptCost=12
Auth__SessionAbsoluteExpiryHours=8
Auth__Bootstrap__AdminEmail=admin@localhost
Auth__Bootstrap__AdminDisplayName=Cmsify Admin
Auth__Bootstrap__AdminPassword=change-this-temporary-password
Auth__Oidc__Enabled=false
Auth__Oidc__Authority=
Auth__Oidc__Audience=cmsify
Auth__Oidc__ClaimsMapping__Role=cmsify_role
Auth__Oidc__ClaimsMapping__WorkspaceId=cmsify_workspace
