@use "variables";
@use "bootstrap" with (
  $primary: variables.$primary,
  $success: variables.$success,
  $warning: variables.$warning,
  $danger: variables.$danger,
  $info: variables.$info,
  $font-family-base: variables.$font-family-base
);
@use "custom";

h1 {
    //user-select: none;
    //pointer-events: none;
    --bs-highlight-color: transparent;

    &:focus {
        outline: none;
    }
}
